.loader {
  position: absolute;

  top: calc(50%);
  left: calc(50%);
  width: 6em;
  height: 6em;

  &,
  &::before,
  &::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    background: #07122a;
    transform-origin: 50% 50%;
  }

  &::before {
    position: absolute;
    top: -1em;
    left: -0.4em;
    width: 1em;
    height: 2.5em;
    transform: rotate(-45deg);
    border-bottom-left-radius: 2em;
    border-top-right-radius: 2em;
    animation: loading3b 4s infinite;
  }

  & {
    background: lighten(#07122a, 10%);
    height: 3em;
    width: 0.2em;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
  }

  &::after {
    position: absolute;
    top: -1em;
    left: -0.4em;
    width: 1em;
    height: 2.5em;
    transform: rotate(45deg);
    border-bottom-left-radius: 2em;
    border-top-right-radius: 2em;
    animation: loading3a 4s infinite;
  }
}

.loader--hide {
  opacity: 0;
}

@keyframes loading3b {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(680deg);
  }
}
@keyframes loading3a {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(765deg);
  }
}
