.statistics {
  background: #07122a;
  justify-content: center;

  &.item {
    padding: 24px !important;
  }

  &.tabs {
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    text-align: center;
    margin: 1rem 0.6rem 0.6rem 0.6rem;

    background-color: #394155;
  }

  &.chart {
    display: flex;
    background: white;
    border-radius: 12px;
    height: 18rem;
    margin: 0.5rem 0 0 0;
  }
}
