.statistics {
  background: #07122a;
  justify-content: center;

  &.item {
    padding: 24px !important;
  }

  &.tabs {
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    text-align: center;
    margin: 0.6rem;

    background-color: #394155;
  }
}

/* Tabs : Material UI */

.MuiAppBar-colorPrimary {
  color: white !important;
  background-color: #07122a !important;
}

.PrivateTabIndicator-colorSecondary-3 {
  background-color: #07122a !important;
}

.MuiPaper-elevation4 {
  box-shadow: none !important;
}

.MuiTab-root {
  text-transform: none !important;
}
