.MuiTabPanel-root {
  padding: 0 !important;
  width: 100% !important;
}

/* Tabs : Material UI */

.MuiAppBar-colorPrimary {
  color: white !important;
  background-color: #07122a !important;
}

.PrivateTabIndicator-colorSecondary-3 {
  background-color: #07122a !important;
}

.MuiPaper-elevation4 {
  box-shadow: none !important;
}

.MuiTab-root {
  margin: 2rem 0 0 0 !important;
  text-transform: none !important;
}
