.menu {
  height: 70px;
  padding: 0.4rem 0 0 0.6rem;
  transform: translateZ(0px);

  &.dial {
  }

  &.action {
    display: flex;
    justify-content: center;
  }
}

.MuiFab-primary {
  background-color: #07122a !important;
}
