.Text {
  /* login page */
  &.login_banner_head {
    font-size: 1.8rem;
    font-family: $oswald !important;
  }

  &.login_banner_body {
    font-weight: 100;
    font-size: 0.95rem;
  }

  /* main page */
  &.main_head {
    margin: 3rem 0 0 0;
    color: white !important;
    z-index: 10;
  }

  &.onboard_footer {
    font-family: $poppins !important;
    text-align: center;
    font-size: 0.55rem;
    font-weight: 400;
    line-height: 0.8rem;

    position: absolute;
    bottom: 0px;
  }

  &.step_body {
    color: #6e6f8b !important;
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding: 0 0.3rem 0 0.6rem;
  }

  &.step_head {
    text-align: center;
    font-weight: bold;
  }

  &.calorie {
    font-size: 14px;
    padding: 0 0 1rem 0 !important;
    &.data {
      font-family: $baloo !important;
      font-size: 16px !important;
      font-weight: bold;
      padding: 0 !important;
    }
  }
}
