.Button {
  width: 10rem;

  &.kakao {
    color: white;
    background: #2a2907;
    border-radius: 4px;
    padding: 0.8rem;
    width: 70%;

    margin: 2rem 0 0 0;
  }

  &.speech {
    border-radius: 50%;
    display: inline-block;
    height: 15rem;
    width: 15rem;
    background-color: white;
  }
}
