.Button {
  width: 10rem;

  &.login {
    background: #84bb7e6e;
    width: 15rem;
    font-weight: bold;
    letter-spacing: 0.4rem;
    color: black;
    font-family: "Poppins", S-CoreDream-2ExtraLight, Open Sans, sans-serif !important;

    margin: 2rem 0 0 0;
  }

  &.speech {
    border-radius: 50%;
    display: inline-block;
    height: 4rem;
    width: 4rem;
    background-color: white;
    cursor: pointer;
    // position: fixed;
  }

  &.intake {
    color: black;
    border-radius: 50px;
    background: white;

    letter-spacing: 2px;

    width: 100%;
    padding: 0.5rem;
  }

  &.recommend {
    color: white;

    letter-spacing: 2px;

    width: 100%;
    padding: 0.5rem;
  }

  &.menu {
    display: flex;
    justify-content: flex-start;
    padding: 2rem 0 0 2rem;

    &.close {
      padding: 2rem 0 0 1rem !important;
    }
  }
}

.start {
  color: black;
  font-weight: bold;
  font-size: 0.8rem;

  display: flex !important;
  justify-content: center;
  margin: 0 auto;

  border: 1px solid #07122a;
  border-radius: 5px;
  width: 12rem;
  padding: 16px 19px;
  display: inline-block;
  cursor: pointer;

  box-shadow: inset 0 0 0 0 #07122a;
  -webkit-transition: ease-out 1.4s !important;
  -moz-transition: ease-out 1.4s !important;
  transition: ease-out 1.4s;
}

.slide_right:hover {
  font-weight: bold;
  box-shadow: inset 400px 0 0 0 #07122a;
  color: white !important;
}

.swal-footer {
  text-align: center !important;
}

.swal-button {
  background-color: #84bb7e6e !important;
}

.button {
  &.signup {
    text-align: right;
    font-size: 0.8rem;
    padding: 1rem 1rem 1rem 1rem;
    letter-spacing: -0.12rem;
    justify-content: flex-end;
    width: 14rem;
  }
}

.link_hover {
  font-family: $scoreextra;
  font-weight: bolder;
  color: #0095f6;
}
