.Button {
  width: 10rem;

  &.kakao {
    color: white;
    background: #2a2907;
    border-radius: 4px;
    padding: 0.8rem;
    width: 70%;

    margin: 2rem 0 0 0;
  }

  &.speech {
    border-radius: 50%;
    display: inline-block;
    height: 15rem;
    width: 15rem;
    background-color: white;
    position: fixed;
  }

  &.start {
    color: black;
    font-weight: bold;

    display: flex !important;
    justify-content: center;
    margin: 0 auto;

    border: 1px solid #6e6f8b;
    border-radius: 5px;
    width: 14rem;
    padding: 11px 19px;
    display: inline-block;
    cursor: pointer;

    box-shadow: inset 0 0 0 0 #536976;
    -webkit-transition: ease-out 1.4s !important;
    -moz-transition: ease-out 1.4s !important;
    transition: ease-out 1.4s;
  }

  &.slide_right:hover {
    font-weight: bold;
    box-shadow: inset 400px 0 0 0 #536976;
    color: white !important;
  }

  &.login {
    display: flex !important;
    justify-content: center;
    margin: 0 auto;

    border: 1px solid #6e6f8b;
    border-radius: 5px;
    width: 14rem;
    padding: 0.5rem;

    &:hover {
      cursor: pointer;
    }
  }
}
